*{
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    background-color: black;
    color:white;
}

nav{
    font-size: 20px;
    color:white;
    margin: 10px;
}

nav a{
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:before{
    color: white;
}

nav a:visited {
    color: cyan;
}

nav a:hover{
    color: crimson;
}
.container{
    display:flex;
}

.box1{
    justify-content: flex-end;
    text-align: right;
    padding-top: 15vh;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    width: 25%;

}

#box2{
    justify-content: flex-end;
    text-align: right;
    padding-top: 15vh;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    width: 25%;
    height: 100%;
}

#AboutMe{
    display:flex;
    justify-content: flex-start;
    text-align: center;
    width: 75%;
}

#AboutMe img{
    border: solid;
    margin: 10px 0px;
    width: 25%;
}

#AboutMe p{
    align-self: center;
}

#Work{
    display:flex;
    flex-direction: column;
    width: 75%;
}

#headerImg img{
    width: 100%;
    border: solid cyan;
    height: fit-content;
}

#headerImg p{
    background-color: cyan;
    padding: 10px;
    margin-top: 100px;
    position: absolute;
    font-size: 30px;
}
 
.smallImg{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid black;
    justify-content: space-around;
}

.smallImg img{
    border: solid cyan;
}

 .smallImg p{
    font-size: 30px;
    background-color: cyan;
    position: absolute;
} 

#Contact{
    width:100%;
}

#Contact ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 33%;
    color: white;
    list-style: none;
    font-size: 25px;
    background-color: black;
    border-top: solid black;
}

@media screen and (max-width: 992px) {

  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 576px) {
  
  }
  